body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table{
    border: 1px solid black;
    width: 50%;
    margin: auto;
}


.btn:hover{
    background-color: #e0edfd;
    color: black;
    transform: scale(1.005);
    transition: all 0.3s ease;
}

#eventos{
    border: black 1px solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

#card{
    text-align: center;
    border: 1px solid black;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#card:hover{
    background-color: #eaf2fc;
    color: black;
    transform: scale(1.005);
    transition: all 0.3s ease;
}